services:
    database:
        image: mongo:latest
        container_name: mongo-db
        ports:
            - '27017:27017'
        volumes:
            - mongo-data:/data/db

    backend:
        build:
            context: .
            dockerfile: Dockerfile.backend
        container_name: blog-backend
        ports:
            - '3001:3000'
        environment:
            - ./BlogBackend/.env
        depends_on:
            - database

    frontend:
        build:
            context: .
            dockerfile: Dockerfile.frontend
        container_name: blog-frontend
        ports:
            - '3000:80'
        depends_on:
            - backend

volumes:
    mongo-data:
